%h1 Listing campaigns

%table.table
  %thead
    %tr
      %th Name
      %th Description
      %th User
      %th

  %tbody
    - @campaigns.each do |campaign|
      %tr
        %td= campaign.name
        %td= campaign.description
        %td= campaign.user
        %td
          .btn-group
            = link_to 'Show', campaign, class: 'btn btn-default'
            = link_to 'Edit', edit_campaign_path(campaign), class: 'btn btn-primary'
            = link_to 'Destroy', campaign, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-danger'

%br

= link_to 'New Campaign', new_campaign_path
