%p#notice= notice

%p
  %b Name:
  = @campaign.name
%p
  %b Description:
  = @campaign.description
%p
  %b User:
  = @campaign.user

%p
  = link_to 'Join', campaign_join_path(@campaign)

%h3 Our fuckers
%table.table.table-bordered
  - @campaign.users.each do |user|
    %tr
      %td
        = user.name

%h3 Our games
%table.table.table-bordered
  - @campaign.games.each do |game|
    %tr
      %td
        = link_to game.name, game

= link_to 'Edit', edit_campaign_path(@campaign)
\|
= link_to 'Back', campaigns_path
