%p#notice= notice

%p
  %b Name:
  = @campaign.name
%p
  %b Description:
  = @campaign.description
%p
  %b User:
  = @campaign.user

%p
  = link_to 'Join', campaign_join_path(@campaign)

= link_to 'Edit', edit_campaign_path(@campaign)
\|
= link_to 'Back', campaigns_path
